.srvup-markdown {
    min-height: 250px
}
.markdown-preview {
    min-height: 0px !important;
    max-height: 150px !important;
    overflow-y: scroll;
}

.markdown-large-preview {
    min-height: 0px !important;
    max-height: 300px !important;
    overflow-y: scroll;
}

.markdown-preview-cutoff {
    min-height: 0px !important;
    max-height: 150px !important;
    overflow-y: hidden;
}